@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary bg-body text-white relative leading-relaxed font-extralight;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }
  a {
    @apply text-[15px] font-medium;
  }
  .navLink {
    @apply after:w-6 after:h-1 after:absolute after:left-0 after:-bottom-2 after:rounded-full after:bg-transparent after:hover:bg-[#b936f5] after:transition-all after:duration-300 relative;
  }
  .btn {
    @apply font-medium h-12 px-8 rounded text-[15px] outline-none flex items-center justify-center cursor-pointer
          bg-gradient-to-r       from-[#b936f5]       to-[#f1006c] 
    hover:bg-gradient-to-l hover:from-[#b936f5] hover:to-[#f1006c];
  }
}

.customCSS {
  /* filter: blur(8px); */
  /* box-shadow: 0 0 100px 100vw rgba(0, 0, 0, .8); */
}


/* Custom ScrollBar */

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  border-radius   : 2px;
  background-image: linear-gradient(to bottom right, #b936f5, #f1006c);
}

html::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom right, #f1006c, #b936f5);
}

html::-webkit-scrollbar-track {
  border-radius   : 5px;
  background-color: #000;
}




/* Swiper Pagination Custom Coloring... Only Bullate Points... */

.swiper-pagination-bullet {
  background-color: rgb(153, 45, 45);
}

